*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log

# Local update proposal files
方案升级.md
